
<div class="container">
    <input ng-model="keyword">
    <p>{{keyword}}</p>
Show results: <input type="checkbox" ng-model="myVar" ng-init="myVar = false">
    
    <div ng-if="myVar" >
        <div ng-repeat="(key, value) in kjv" ng-value="key">
            <div ng-repeat= "item  in kjv[key] | filter : {'word': keyword }">
                    <a href="#!/view3?book={{item.book}}&chapter={{item.chapter}}&verse={{item.verse}}">{{item.book}} {{item.chapter}}:{{item.verse}}. {{item.word}}</a>
            </div>
        </div>
    </div>
 
</div>