/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2020, 6:26:09 AM
    Author     : gesab001
*/

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .modal-dialog{
      width: 100%;
      height: 100%;
  }
  
  .carousel-caption{
   color: white;
   text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
   font-weight: bold;     
  }
  
  .next {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.modal-dialog{
    
    max-width: 100%;
    height: 100%;
}

.slideShow {
   color: white;
   text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
   font-weight: bold;   
    
}
.markThisWord {
   text-decoration: none;
  
   
    
}
.markThisWord:hover{
   color: red;
   font-weight: bold;     
    
}

.carousel-indicators li {
      text-indent: 0;
      margin: 0 2px;
      text-align: center;
      height: 25px;
      border: none;
      border-radius: 100%;

      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;
      &.active, &:hover {
        margin: 0 2px;

        height: 50px;
        background-color: #337ab7;        
      }	
}
